<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>825956214573-jon299724i4383obnghviv9mol1vjled.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.825956214573-jon299724i4383obnghviv9mol1vjled</string>
	<key>API_KEY</key>
	<string>AIzaSyB_0frrr7lod4QiO-vFKoRV8Cb0wlxaq2s</string>
	<key>GCM_SENDER_ID</key>
	<string>825956214573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.praveensamuel.SamInventory</string>
	<key>PROJECT_ID</key>
	<string>saminventory-d2daf</string>
	<key>STORAGE_BUCKET</key>
	<string>saminventory-d2daf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:825956214573:ios:91d342198a92b597</string>
	<key>DATABASE_URL</key>
	<string>https://saminventory-d2daf.firebaseio.com</string>
</dict>
</plist>